<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel = "stylesheet" href = "style.css">

	<title>Авторизация - runiw-web</title>
</head>
<body>
	<div class = "auth-board">
		<h1>Авторизация</h1>
		<form class = "auth-form" method = "GET" action = "/inorder">
			<input type="text" name="login" placeholder="Логин">
			<input type="password" name="password" placeholder="Пароль">
			<input class = "submit-button" type = submit value = "Войти">
<!--			<div class = "submit-button">Войти</div>-->
		</form>
	</div>
</body>
</html>