<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href = "style.css" rel = "stylesheet" type = "text/css">

	<title>Добро пожаловать</title>
</head>
<body>
	<div class = "welcome-grid">
		<div class = "left-half">
			<span class = "title">Используйте наши товары</span>
			<span class = "name">RUNIW-WEB</span>
		</div>
		<div class = "right-half">
			<span class = "content">Тут должен был быть размещён продающий текст, но мы не заплатили копирайтеру.
			Приносим извинения.</span>
			<a href = "/auth" class = "shine-button">Войти</a>
		</div>
	</div>
</body>
</html>